*~
*.pyc
*.sock
*.geany
__pycache__

/bin/
/build/
/data/
/dist/
/include/
/lib/
/share/
/src/*.egg-info/
/src.mr.developer/
/.venv/
/.eggs/
/.eggs-develop/

/.installed.cfg
/.mr.developer.cfg
/README.html
